@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@200&display=swap");

.blogsCard {
  display: flex;
  flex-direction: column;
  width: 16.3rem;
  height: 22rem;
  box-shadow: 0 0 14px rgba(19, 19, 19, 0.3), 0 2px 5px rgba(19, 19, 19, 0.22);
  padding: 40px;
  border-radius: 20px;
  justify-content: space-between;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.blogsCard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(0.97);
}

.blogsCard .img {
  border-radius: 20px;
}

.blogsCard .body {
  padding: 10px;
}

.blogsCard .body h3 {
  font-family: "Poppins", sans-serif;
  font-size: 0.99rem;
  font-weight: 900;
  color: #003399;
}

.blogsCard .body p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}
